body {background-color: white;}

.title {
fill: white;
color: white
}

#calendar {
  margin: 20px;
}
.month {
  margin-right: 8px;
}
.month-name {
  font-size: 85%;
  fill: #777;
  font-family: Arial, Helvetica;
}
.day-name   {
    fill: #777;
    font-size:0.8em;
}
.day.hover {
  stroke: #6d6E70;
  stroke-width: 2;
}
.day.focus {
  stroke: #ffff33;
  stroke-width: 2;
}
.key    {font-size:0.5em;}

.bar {
  fill: rgb(246, 161, 60);
}

.bar2 {
  fill: rgb(246, 161, 60);
}
.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

div.tooltip-bar {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(246, 161, 60);
    border: 0px;
      border-radius: 20px;
    pointer-events: none;
}
div.tooltip-calendar {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 240px;
    padding: 20px;
    font: 12px sans-serif;
    color: black;
    background: rgb(246, 161, 60);
    border: 100px;
    border-radius: 20px;
    pointer-events: none;
}

.legend {
  fill:  #777;
  font: 15px sans-serif;
}

br {
   display: block;
}

.svg-container {
    display: inline-block;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.svg-content-responsive-tables {
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 0;
}

a {
  color: #900;
  text-decoration: none;

}

a:hover {
  color: red;
  position: relative;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: middle;
}
.article h1{
    color:black;
}
header {background: white;color:black;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

.article p {
    color: black;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

.axisRed path{
stroke: rgb(246, 164, 61);
}

.axisRed text{
fill: black;
font-size: 10px;
}

#vis {
margin: 0;
}
.line_entries {
fill: none;
stroke: green;
stroke-width: 2px;
}

.line_exits {
fill: none;
stroke: red;
stroke-width: 2px;
}
